* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-heading: 'Montserrat', sans-serif;
    --ff-texting: 'DM Sans', sans-serif;
    --ff-texting-screen2: 'Dancing Script', cursive;

    --fs-heading: 2.4rem;
    --fs-texting: 1.5rem;
    --fs-texting-screen2: 2.4rem;
}

body {
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    display: grid;
    place-items: center;
    height:100vh;
}



.screen1 {
    display: grid;
    place-items: center;
    margin-top: -10rem;
    width: 42.8rem;
    height: 42.4rem;
    background: white;

    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

}

.screen2 {
    display: grid;
    place-items: center;
    margin-top: -10rem;
    width: 42.8rem;
    height: 56.4rem;
    background: white;

    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}




.hide {
    display:none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    
    width: 30rem;
    height: 31.2rem;

    background: white;
}

.wrapper h1 {
    text-align: center;
    font-weight: bold;
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
}

.wrapper p {
    font-size: var(--fs-texting);
    font-family: var(--ff-texting);
}

.wrapper img {
    cursor: pointer;
}

.wrapper img:hover{
    animation: shake 500ms;
    animation-iteration-count: infinite; 
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1.8rem;

    width: 30rem;
    height: 46.8rem;


}

.wrapper2 h1 {
    text-align: center;
    font-weight: bold;
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
}

.wrapper2 p {
    background: #E4EDF1;

    font-family: var(--ff-texting-screen2);
    font-size: var(--fs-texting-screen2);
    font-weight: 400;
    line-height: 2.9rem;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
    padding: 1rem;

    animation: insideout 2.5s;
}

.wrapper2 img {
    margin: 4rem 0 4rem 0;
}

#open-another {
    
    border: none;
    background: #FF9500;
    border-radius: 4px;
    width: 17.4rem;
    height: 5.2rem;
    padding: 1.6rem 0 1.6rem;

    text-align: center;

    cursor: pointer;
    color:white;
    font-weight: 700;
    font-family: var(--ff-texting);
    font-size: var(--fs-texting);
}

#open-another:hover {
    background: #ad6704;
}

@keyframes insideout {
    
    0% {  
        transform: translateY(180px) scale(0);
    }
   
}

@keyframes shake {         
    0% { 
        transform: translate(1px, 1px) rotate(0deg); 
    }
    10% { 
        transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        transform: translate(-2px, 0px) rotate(1deg); 
    }
    30% { 
        transform: translate(3px, 1px) rotate(0deg); 
    }
    40% { 
        transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% { 
        transform: translate(-3px, 1px) rotate(0deg); 
    }
    70% { 
        transform: translate(3px, -1px) rotate(-1deg); 
    }
    80% { 
        transform: translate(-1px, -1px) rotate(1deg); 
    }
    90% { 
        transform: translate(1px, 3px) rotate(0deg); 
    }
    100% { 
        transform: translate(2px, -2px) rotate(-1deg); 
    }
}







